@import url("http://fonts.cdnfonts.com/css/netflix-sans");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
@import "./colors";

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: $bold-black;
  color: #333;
  font-size: 16px;
  direction: ltr;
}

h1 {
  font-family: "Netflix Sans", sans-serif;
}

h2,
h3,
span {
  font-family: "Helvetica 65 Medium", sans-serif;
}
